

:root{
  /*FONTS*/
--font-300: 300 1.1rem 'Inter', sans-serif;
--font-500: 500 2rem 'Inter', sans-serif;
--font-700: 700 1rem 'Inter', sans-serif;
  /*COOLRS*/
--dark-blue-color: hsl(240, 38%, 20%);
--grayish-blue-color: hsl(240, 18%, 77%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
}

/*===IMAGE-USER==*/


img.bg{
  position: absolute;
  width: auto;
  height: 19rem;

  left:1.6rem;
}

img.user{
  position: relative;
  border-radius: 0.5rem;
  left: 0.4rem;
  top: 1.8rem;
  width: auto;
  height: 15.6rem;

  box-shadow: -0.1em 3rem 5rem -2.5rem #777;
}


/*===TESTIMONIAL==*/

#testimonial{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
  height: auto;
  text-align: center;
  align-content: center;
}

.quota{
  width: auto;
  height: 3.5rem;
  position: absolute;
  left: 9.9rem;
}

#testimonial p{
  top: 2rem;
  position: relative;
  font: var(--font-300);
  color:var(--dark-blue-color);
}

h3{
  margin-top: 3.5rem;
  color: var(--dark-blue-color);
  font: var(--font-700);
}

span{
  color: var(--grayish-blue-color);
}

#curve{
  width: auto;
  height: auto;
  overflow-x: hidden;
}

/*===BUTTONS==*/

button{
  background: none;
  border: none;
  padding-top: .18rem;
}


#tanya-btn{
  margin-right: 1.8rem;
}

.bg-btn img{
  height: 0.8rem;
}

.bg-btn{
  margin-top: 16.12rem;
  margin-left: 9.7rem;
  padding: 0.5rem;
  background: cornsilk;
  border-radius: 2rem;

  display: flex;
  position: absolute;
  z-index: 100;
}


#tania, #john{
  margin-top: 2rem;
}

.hide{
  display: none;
}